<div>
    <p class="title">
        Caravan
        <br>
        <img class="caravan-logo" src="/assets/camel1.svg">
        <br>
        <span class="subtitle">
            A new market for liquidity positions.
        </span>
    </p>
    <div class="centered">
        <button routerLink="/listings" class="button button--mimas">
            <span>See Listings</span>
        </button>
    </div>
    <div class="centered">
        
    </div>
    <br>
    <div class="centered about">
        <p class="subtitle">
            Features
        </p>
        <div class="text-div">
            <p class="textblock">
                • Rent, buy, sell, and swap liquidity positions
                <br>
                • Sell call options using liquidity positions
                <br>
                • Buy synthetic calls to speculate on token prices
            </p>
        </div>

        <p class="subtitle">
            About The Developers
        </p>
        <div class="text-div">
            <p class="textblock center-text">
                We are Andrew and Jwalin, a team of two. 
                <br>
                We are 3rd and 4th year students at UC Berkeley studying CS.
                <br>
                We hope to take Caravan to the moon and beyond!
            </p>
        </div>
        
    </div>
    
</div>



