<div class="centered">
    <button *ngIf="isOwner" (click)="collectMarketplaceFees()" class="button button--mimas">
        <span>Collect Marketplace Fees</span>
    </button>
</div>
<div class="centered listings-div">
    <p class="title">Your Liquidity</p>
    <p *ngIf="!ownedLoading && !ownedListings.length">No owned liquidity :(</p>
    <span *ngIf="ownedLoading && !ownedListings.length"><mat-spinner style="margin: auto;" diameter="25"></mat-spinner></span>
    <div class="listing" *ngFor="let listing of ownedListings">
        <app-listing (updateEvent)="getOwned()" [listing]="listing" [isRenter]="false" [isOwner]="true"></app-listing>
    </div>
    <p *ngIf="loading">Transaction in progress...</p>
</div>

<div class="centered listings-div">
    <p class="title">Rented Liquidity</p>
    <p *ngIf="!rentedLoading && !rentedListings.length">No rented liquidity :(</p>
    <span *ngIf="rentedLoading && !rentedListings.length"><mat-spinner style="margin: auto;" diameter="25"></mat-spinner></span>    <div class="listing" *ngFor="let listing of rentedListings">
        <app-listing (updateEvent)="getRented()" [listing]="listing" [isRenter]="true" [isOwner]="false"></app-listing>
    </div>
    <p *ngIf="loading">Transaction in progress...</p>
</div>
