<p class="title">My NFTs</p>

<div class="centered listings-div">
    <p *ngIf="!ownedListings.length">No owned liquidity :(</p>
    <p class="title" *ngIf="ownedListings.length">Your Liquidity</p>
    <div class="listing" *ngFor="let listing of ownedListings">
        <app-listing (updateEvent)="getOwned()" [listing]="listing" [isRenter]="false" [isOwner]="true"></app-listing>
    </div>
    <p *ngIf="loading">Transaction in progress...</p>
</div>

<div class="centered listings-div">
    <p *ngIf="!rentedListings.length">No rented liquidity :(</p>
    <p class="title" *ngIf="rentedListings.length">Rented Liquidity</p>
    <div class="listing" *ngFor="let listing of rentedListings">
        <app-listing (updateEvent)="getRented()" [listing]="listing" [isRenter]="true" [isOwner]="false"></app-listing>
    </div>
    <p *ngIf="loading">Transaction in progress...</p>
</div>
